.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.687988;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-11.792000px;}
._1{margin-left:-1.188000px;}
._2{width:37.048000px;}
.fc2{color:rgb(32,33,36);}
.fc1{color:rgb(68,114,196);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:36.000000px;}
.fs4{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:64.000000px;}
.y20{bottom:7.456999px;}
.y27{bottom:7.883000px;}
.y22{bottom:8.182999px;}
.y1a{bottom:8.231998px;}
.y29{bottom:8.319000px;}
.y1c{bottom:8.957998px;}
.y6{bottom:10.769001px;}
.y25{bottom:13.482002px;}
.y23{bottom:13.782000px;}
.y1d{bottom:14.556999px;}
.y17{bottom:14.979999px;}
.y26{bottom:18.656002px;}
.y21{bottom:18.955999px;}
.y1b{bottom:19.730999px;}
.y1f{bottom:20.105999px;}
.y19{bottom:20.880999px;}
.y0{bottom:24.000000px;}
.y14{bottom:80.963017px;}
.y4b{bottom:85.573014px;}
.y13{bottom:101.509037px;}
.y4a{bottom:102.821000px;}
.y49{bottom:120.069047px;}
.y12{bottom:122.054996px;}
.y48{bottom:137.317033px;}
.y11{bottom:142.601017px;}
.y47{bottom:154.565019px;}
.y28{bottom:172.569006px;}
.y4c{bottom:177.595007px;}
.y10{bottom:223.774053px;}
.y46{bottom:224.229016px;}
.y5c{bottom:237.524003px;}
.y45{bottom:240.960034px;}
.yf{bottom:242.747014px;}
.y44{bottom:257.691052px;}
.y5b{bottom:257.933000px;}
.ye{bottom:261.720037px;}
.y43{bottom:274.807012px;}
.y5a{bottom:278.342027px;}
.yd{bottom:280.693028px;}
.yc{bottom:299.666020px;}
.y59{bottom:300.501023px;}
.y42{bottom:309.514020px;}
.yb{bottom:318.639034px;}
.y41{bottom:326.245038px;}
.y61{bottom:327.129034px;}
.ya{bottom:337.612035px;}
.y40{bottom:342.976026px;}
.y3f{bottom:359.707013px;}
.y58{bottom:366.022019px;}
.y3e{bottom:376.438031px;}
.y57{bottom:387.245011px;}
.y3d{bottom:393.554021px;}
.y56{bottom:408.468034px;}
.y24{bottom:409.320034px;}
.y3c{bottom:428.261033px;}
.y55{bottom:429.691026px;}
.y3b{bottom:444.484025px;}
.y1e{bottom:444.770039px;}
.y54{bottom:450.914018px;}
.y3a{bottom:460.707017px;}
.y53{bottom:472.137010px;}
.y39{bottom:476.930009px;}
.y18{bottom:480.820038px;}
.y38{bottom:493.153031px;}
.y52{bottom:493.360032px;}
.y37{bottom:510.145013px;}
.y60{bottom:515.149023px;}
.y16{bottom:518.420036px;}
.y36{bottom:547.112027px;}
.y51{bottom:557.868019px;}
.y35{bottom:563.843030px;}
.y15{bottom:569.805023px;}
.y50{bottom:577.368019px;}
.y34{bottom:580.574018px;}
.y5f{bottom:594.749029px;}
.y33{bottom:597.305020px;}
.y9{bottom:604.222023px;}
.y32{bottom:614.036023px;}
.y8{bottom:623.195026px;}
.y31{bottom:630.767026px;}
.y4f{bottom:639.617021px;}
.y7{bottom:643.181025px;}
.y30{bottom:648.267022px;}
.y4e{bottom:656.865022px;}
.y5{bottom:665.655025px;}
.y5e{bottom:678.654028px;}
.y2f{bottom:682.589025px;}
.y2e{bottom:699.320027px;}
.y4{bottom:710.487026px;}
.y2d{bottom:716.051023px;}
.y4d{bottom:722.672025px;}
.y3{bottom:724.137025px;}
.y2c{bottom:732.782025px;}
.y2{bottom:746.090024px;}
.y5d{bottom:749.300024px;}
.y2b{bottom:749.513024px;}
.y1{bottom:770.193024px;}
.y2a{bottom:773.997024px;}
.hd{height:25.350000px;}
.ha{height:26.244141px;}
.h11{height:29.121094px;}
.h10{height:29.160156px;}
.h5{height:30.250000px;}
.hf{height:31.328125px;}
.h8{height:32.033203px;}
.h4{height:32.076172px;}
.he{height:32.437500px;}
.h6{height:34.460938px;}
.h3{height:34.945312px;}
.hc{height:34.950001px;}
.hb{height:35.549999px;}
.h9{height:37.099998px;}
.h7{height:37.946999px;}
.h2{height:46.593750px;}
.h1{height:794.000000px;}
.h0{height:841.900024px;}
.w5{width:70.349998px;}
.w6{width:77.150002px;}
.w3{width:139.199997px;}
.w4{width:192.699997px;}
.w2{width:481.399994px;}
.w1{width:547.500000px;}
.w0{width:595.299988px;}
.xb{left:8.631000px;}
.xd{left:10.897000px;}
.xf{left:22.939000px;}
.x0{left:24.000000px;}
.x10{left:27.869999px;}
.x15{left:30.928999px;}
.x7{left:36.291001px;}
.x11{left:49.426001px;}
.xc{left:52.176001px;}
.x2{left:56.700001px;}
.x13{left:58.290999px;}
.x14{left:63.578001px;}
.x12{left:67.080000px;}
.xe{left:69.582999px;}
.x5{left:74.700001px;}
.x4{left:92.700001px;}
.x18{left:94.288002px;}
.x19{left:120.118000px;}
.x3{left:177.691000px;}
.x16{left:181.036994px;}
.x1b{left:191.036002px;}
.x1a{left:193.702002px;}
.x8{left:196.899998px;}
.x17{left:199.702002px;}
.x6{left:203.036002px;}
.x1{left:263.423008px;}
.x9{left:390.099995px;}
.xa{left:460.950001px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-15.722667pt;}
._1{margin-left:-1.584000pt;}
._2{width:49.397333pt;}
.fs3{font-size:48.000000pt;}
.fs4{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:85.333333pt;}
.y20{bottom:9.942665pt;}
.y27{bottom:10.510667pt;}
.y22{bottom:10.910665pt;}
.y1a{bottom:10.975998pt;}
.y29{bottom:11.092000pt;}
.y1c{bottom:11.943998pt;}
.y6{bottom:14.358668pt;}
.y25{bottom:17.976003pt;}
.y23{bottom:18.375999pt;}
.y1d{bottom:19.409332pt;}
.y17{bottom:19.973331pt;}
.y26{bottom:24.874669pt;}
.y21{bottom:25.274666pt;}
.y1b{bottom:26.307999pt;}
.y1f{bottom:26.807999pt;}
.y19{bottom:27.841331pt;}
.y0{bottom:32.000000pt;}
.y14{bottom:107.950689pt;}
.y4b{bottom:114.097352pt;}
.y13{bottom:135.345383pt;}
.y4a{bottom:137.094667pt;}
.y49{bottom:160.092063pt;}
.y12{bottom:162.739995pt;}
.y48{bottom:183.089377pt;}
.y11{bottom:190.134689pt;}
.y47{bottom:206.086692pt;}
.y28{bottom:230.092008pt;}
.y4c{bottom:236.793343pt;}
.y10{bottom:298.365403pt;}
.y46{bottom:298.972022pt;}
.y5c{bottom:316.698671pt;}
.y45{bottom:321.280046pt;}
.yf{bottom:323.662685pt;}
.y44{bottom:343.588070pt;}
.y5b{bottom:343.910666pt;}
.ye{bottom:348.960049pt;}
.y43{bottom:366.409349pt;}
.y5a{bottom:371.122702pt;}
.yd{bottom:374.257371pt;}
.yc{bottom:399.554694pt;}
.y59{bottom:400.668031pt;}
.y42{bottom:412.685360pt;}
.yb{bottom:424.852046pt;}
.y41{bottom:434.993384pt;}
.y61{bottom:436.172045pt;}
.ya{bottom:450.149380pt;}
.y40{bottom:457.301367pt;}
.y3f{bottom:479.609351pt;}
.y58{bottom:488.029359pt;}
.y3e{bottom:501.917375pt;}
.y57{bottom:516.326682pt;}
.y3d{bottom:524.738695pt;}
.y56{bottom:544.624045pt;}
.y24{bottom:545.760045pt;}
.y3c{bottom:571.014711pt;}
.y55{bottom:572.921368pt;}
.y3b{bottom:592.645367pt;}
.y1e{bottom:593.026718pt;}
.y54{bottom:601.218690pt;}
.y3a{bottom:614.276023pt;}
.y53{bottom:629.516013pt;}
.y39{bottom:635.906679pt;}
.y18{bottom:641.093384pt;}
.y38{bottom:657.537375pt;}
.y52{bottom:657.813376pt;}
.y37{bottom:680.193350pt;}
.y60{bottom:686.865364pt;}
.y16{bottom:691.226715pt;}
.y36{bottom:729.482703pt;}
.y51{bottom:743.824025pt;}
.y35{bottom:751.790707pt;}
.y15{bottom:759.740031pt;}
.y50{bottom:769.824025pt;}
.y34{bottom:774.098690pt;}
.y5f{bottom:792.998706pt;}
.y33{bottom:796.406694pt;}
.y9{bottom:805.629364pt;}
.y32{bottom:818.714698pt;}
.y8{bottom:830.926702pt;}
.y31{bottom:841.022701pt;}
.y4f{bottom:852.822694pt;}
.y7{bottom:857.574699pt;}
.y30{bottom:864.356030pt;}
.y4e{bottom:875.820029pt;}
.y5{bottom:887.540034pt;}
.y5e{bottom:904.872037pt;}
.y2f{bottom:910.118699pt;}
.y2e{bottom:932.426703pt;}
.y4{bottom:947.316035pt;}
.y2d{bottom:954.734697pt;}
.y4d{bottom:963.562700pt;}
.y3{bottom:965.516033pt;}
.y2c{bottom:977.042700pt;}
.y2{bottom:994.786699pt;}
.y5d{bottom:999.066699pt;}
.y2b{bottom:999.350699pt;}
.y1{bottom:1026.924032pt;}
.y2a{bottom:1031.996031pt;}
.hd{height:33.800001pt;}
.ha{height:34.992188pt;}
.h11{height:38.828125pt;}
.h10{height:38.880208pt;}
.h5{height:40.333333pt;}
.hf{height:41.770833pt;}
.h8{height:42.710938pt;}
.h4{height:42.768229pt;}
.he{height:43.250000pt;}
.h6{height:45.947917pt;}
.h3{height:46.593750pt;}
.hc{height:46.600001pt;}
.hb{height:47.399999pt;}
.h9{height:49.466665pt;}
.h7{height:50.595998pt;}
.h2{height:62.125000pt;}
.h1{height:1058.666667pt;}
.h0{height:1122.533366pt;}
.w5{width:93.799998pt;}
.w6{width:102.866669pt;}
.w3{width:185.599996pt;}
.w4{width:256.933329pt;}
.w2{width:641.866659pt;}
.w1{width:730.000000pt;}
.w0{width:793.733317pt;}
.xb{left:11.508000pt;}
.xd{left:14.529334pt;}
.xf{left:30.585333pt;}
.x0{left:32.000000pt;}
.x10{left:37.159999pt;}
.x15{left:41.238666pt;}
.x7{left:48.388001pt;}
.x11{left:65.901335pt;}
.xc{left:69.568001pt;}
.x2{left:75.600001pt;}
.x13{left:77.721332pt;}
.x14{left:84.770669pt;}
.x12{left:89.440001pt;}
.xe{left:92.777332pt;}
.x5{left:99.600001pt;}
.x4{left:123.600001pt;}
.x18{left:125.717336pt;}
.x19{left:160.157333pt;}
.x3{left:236.921334pt;}
.x16{left:241.382658pt;}
.x1b{left:254.714669pt;}
.x1a{left:258.269336pt;}
.x8{left:262.533330pt;}
.x17{left:266.269336pt;}
.x6{left:270.714669pt;}
.x1{left:351.230677pt;}
.x9{left:520.133326pt;}
.xa{left:614.600001pt;}
}
